.geo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
    padding: 3% 7% 3% 32%;
    font-size: 1rem;
    background-color: #eaeaea;
}
.fa-map-marker-alt {
    padding-right: 2%;
}