    @keyframes container {
      20% {
        opacity: 0.8;
      } 
      40% {
        opacity: 0.6;
      } 
      60% {
        opacity: 0.4;
      } 
      80% {
        opacity: 0.2;
      }  
      100% {
        opacity: 0;
        visibility: hidden;
        }
}
  .titre-preloader {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5%;
  }
  .dash-preloader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .preloader {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;
    padding-top: 100%;
    padding-bottom: 100%;
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 100%;
    background-color: #fff;
    animation: container .06s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
  }
  
  .dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: linear-gradient(356deg, #9356dc 5%, #ff79da 100%);
    box-shadow: 0 0 10px 0 #FECDFF;
  }
  
  .un {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;  
  }
  
  .deux {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
  }
  
  .trois {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
  }
  
  .quatre {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    30% {
      transform: rotate(370deg);
    }
    35% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-180deg);
    }
    35% {
      transform: rotate(-190deg);
    }
    40% {
      transform: rotate(-180deg);
    }
    78% {
      transform: rotate(-180deg);
    }
    95% {
      transform: rotate(-360deg);
    }
    98% {
      transform: rotate(-370deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    27% {
      transform: rotate(0deg);  
    }
    40% {
      transform: rotate(180deg);
    }
    45% {
      transform: rotate(190deg);
    }
    50% {
      transform: rotate(180deg);
    }
    62% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    80% {
      transform: rotate(370deg);
    }
    85% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    38% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-360deg);
    }
    65% {
      transform: rotate(-370deg);
    }
    75% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }