h1 {
    font-family: 'Shrikhand', cursive;
}
h6 {
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
}
h2 {
    font-size: 1.5rem;
    font-weight: 800;
}
h4 {
    font-weight: 300;
}
span {
    font-weight: 500;
}
p {
    font-weight: 300;
}
a {
    text-decoration: none;
}